# --- ENV ---
.env
.env.*
!.env.example

# --- Node ---
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Builds ---
dist/
.vite/

# --- IDE/OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
