
footer h6 {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    transition: color 0.3s ease;
}

footer ul li a:hover {
    text-shadow: var(--shadow-primary), var(--shadow-accent), var(--shadow-secondary);
}

footer .social-icons a {
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    text-shadow: var(--shadow-primary), var(--shadow-accent), var(--shadow-secondary);
}

footer .border-top {
    border-top: 1px solid var(--secondary-color);
}

footer p, footer a {
    font-size: 0.9rem;
}


@media (min-width: 768px) {
    footer h6 {
        font-size: 1.25rem;
        
    }
    footer p, footer a {
        font-size: 1.05rem;
    }
    footer {
        padding: 2.5rem 0;
    }
   
    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;
        text-align: left;
    }
    .footer-main > * {
        flex: 1;
    }
}
