/* IMPORTS Y VARIABLES, por defecto mobile first */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import './variables.css';

body {
  font-family: var(--font-body);
  color: var(--secondary-color);
  background-color: var(--background-color);
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--font-title);
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-shadow: var(--shadow-primary), var(--shadow-accent), var(--shadow-secondary);
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--background-color);
  
}

.btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--accent-color);
  color: black;
}

/* 
.page-container {
  margin-top: 7rem; 
  padding: 1rem;
}
*/

/* MEDIA QUERY ESCRITORIO */
@media (min-width: 768px) {
  body {
    font-size: 1.15rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .btn {
    padding: 1rem 2.2rem;
    font-size: 1.1rem;
  }
  .page-container.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* O simplemente: */
  padding: 0 !important;
}
  a {
    font-size: 1.1rem;
  }
}
