
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --- HERO --- */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end; 
  box-sizing: border-box;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}


.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Contenido */
.hero-content {
  position: relative;
  z-index: 5;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* móvil */
  align-items: center;

  padding: 0 1.25rem 4rem;
  box-sizing: border-box;
}

/* Tipografías base móvil */
.hero-title {
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  margin: 0 0 1rem 0;
  text-shadow: none;
}

.hero-desc {
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
}

.hero .btn {
  margin-bottom: 1rem;
}

/* --- TABLET / DESKTOP --- */
@media (min-width: 768px) {
  .hero {
    align-items: center; /* centrado vertical */
  }

  .hero-content {
    justify-content: center;
    padding: 0 4rem; 
    margin-top: 30rem;
  }

  .hero-title {
    font-size: 4rem;
    margin-bottom: 1.2rem;
  }

  .hero-desc {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }

  .hero .btn {
    font-size: 1.15rem;
  }
}
